<!-- app-component (root) template -->
<h1>
  {{title}}
</h1>

<!-- load the click-me component -->
<h3>Example 1: handle click me event</h3>
<app-click-me></app-click-me>

<!-- output the click-me component -->
<h3>Example 2: Show message from the input</h3>
<app-show-message></app-show-message>


<!-- display the mssage only -->
<h3>Example 3: Show message from input without click</h3>
<app-loop-back></app-loop-back>

<!-- output the convert-me component -->
<h3>Example 4: Convert miles to kilometers & vica versa   g  </h3>
 <app-convert-me></app-convert-me>
